{% extends 'bootstrap/base.html' %}
  {% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

    {% block content %}

    {% if session.logged_in %}
    <form action="{{ url_for('add_activity') }}" method=post class=verticalform>
      Title: <input type=text name=title ><br />
      Text: <input type="text" name=text ><br />
      Start Time: <input type=text name=start_time class="dp" ><br />
      End Time: <input type="text" name=end_time class="dp"><br />
      <input type=submit value=Submit>
    </form>
    {% endif %}
    {% endblock %}